.choose-post h6 {

  font-size: calc(16px + 1.4vw);
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.48;
  letter-spacing: normal;
  text-align: center;
  color: #2d2d2d;
}

.post-inner h5 {

  font-size: calc(12px + 0.6vw);
  letter-spacing: normal;
  text-align: center;
  color: #2d2d2d;
  padding-bottom: 16px;
}

.post-inner h6 {

  font-size: calc(11px + 0.4vw);
  letter-spacing: normal;
  text-align: center;
  color: #2d2d2d;
}

.post-inner {
  padding: 43px 23px;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.Previous-job {
  padding-top: 25px;
  width: 100%
}

.Previous-job h4 {

  font-size: 20px;
  font-weight: 600;
  color: #2d2d2d;
}

.new-job h4 {

  font-size: 20px;
  font-weight: 600;
  color: #2d2d2d;
}

.job-card {
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.08);
  background-color: #f6fff8;
}

.job-card .card-title {

  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.64;
  letter-spacing: normal;
  text-align: left;
  color: #2d2d2d;
}

.job-card .card-text {
  object-fit: contain;

  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.64;
  letter-spacing: normal;
  text-align: left;
  color: #2d2d2d;
}

.time {
  border: solid 0.5px #d7d8d7;
  background-color: #d6f1d9;
  font-size: 10px;
  padding: 8px;
  color: #2d2d2d;
}

.job-date {

  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #2d2d2d;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

div.dataTables_wrapper {
  position: relative;
  font-family: 'Open Sans', sans-serif;
}

.dataTables_wrapper button {
  font-weight: 400;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  color: #fff;
}

table.dataTable:not(.fixedHeader-locked):not(.fixedHeader-floating) {
  width: 100% !important;
}

.modal .modal-dialog {
  transform: scale(0.95) !important;
  transition: 0.2s !important;
}

.modal.show .modal-dialog {
  transform: scale(1) !important;
}

.table tbody tr {
  transition: 0.5s;
}

.table tbody tr td:first-child {
  border-left: 3px solid transparent;
}

.table tbody tr:hover {
  box-shadow: 0 3px 40px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.table tbody tr:hover .btn-dark {
  background-color: #1d91b6;
  color: #fff;
}

.table tbody tr:hover .light-bg {
  background-color: #1d91b6;
}

.table tbody tr:hover td {

  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: center;
  color: #1d91b6;
}

.table tbody tr:hover td:first-child {
  border-left: 3px solid #1d91b6;
  ;
}

.table th {

  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: center;
  color: #1d91b6;
}

.table td {

  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: center;
  color: #2d2d2d;
}

.table td,
.table th {
  border-color: transparent;
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid transparent;
  vertical-align: middle;
}

.table td span,
.table th span {
  width: 50px;
  display: inline-block;
  border-radius: 50%;
}
p{
  margin: 0;
}
.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.matFormFieldUnderline{
  bottom: 1.25em;
  background-color: rgba(0,0,0,.42);
  height: 1px;
  margin-top:5px;
}
.pagination {
  justify-content: flex-end;
}