<input type="search" class="searchTerm"
[(ngModel)]="nameSearch.student_name" [ngModelOptions]="{standalone: true}"
  placeholder="Search by name" />
   

<div class="table-responsive ">
    <table class="table ">
        <thead>
            <tr>
                <th scope="col " class="text-center ">Image</th>

                <th scope="col "><span style="min-width: 120px">ID</span>   </th>
                <th scope="col "> Name</th>
                <th scope="col ">Subject 1</th>
                <th scope="col ">Subject 2</th>
                <th scope="col ">Subject 3</th>
                <th scope="col ">Subject 4</th>
                <th scope="col " class="text-center ">View Details</th>
            </tr>

        </thead>

     
        
        <tbody>
         
            <tr *ngFor = "let detail of studentAttandence | personSearch :nameSearch  | paginate: { itemsPerPage: 10, currentPage: p }"> 
                
      
                <td><img src="assets/img/profile.png" style="width: 29px;"></td>
      
                  <td>{{detail.user}}</td>
                <td>{{detail.student_name}}</td>
                <td>{{detail.subjectone}}</td>
                <td>{{detail.subjecttwo}}</td>
                <td>{{detail.subjectthree}}</td>
                <td>{{detail.subjectfour}}</td>


                <td>
                   
                    <div class="action_btn ">
                      <a href="javascript:;" [routerLink]="['/profile']" ><h2 style="color: #2b768d;"><i class="fa fa-eye" aria-hidden="true"></i> </h2>
</a>
                    </div>

                   

                </td>
            </tr>
       

        </tbody>
    
     
    </table>
</div>
    <div class="pagination">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>

