<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-background">
    <div class="container-fluid">

        <a href="javascript:;" id="sidebarCollapse" class="btn-dark"><i class="fas fa-align-left"></i></a>
        <a href="" data-toggle="collapse" class="d-inline-block d-lg-none btn-dark" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-align-justify"></i></a>
     
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                        <div class="notification">
                                <img class src="https://s3.amazonaws.com/codecademy-content/projects/2/feedster/bell.svg">
                                <ul class="notification-menu">
                                  <li>
                                      <a a href="javascript:;" routerLink="/notification" >
                                    <img class="avatar" src="https://s3.amazonaws.com/codecademy-content/projects/2/feedster/wr2.svg">
                                    <h3> message(s) from University</h3>
                                    <p> 16 mins ago </p>
                                </a>
                                  </li>
                                  <li>
                                        <a a href="javascript:;" routerLink="/notification" >
                                    <img class="avatar" src="https://s3.amazonaws.com/codecademy-content/projects/2/feedster/fn.svg">
                                    <h3> message(s) from a student</h3>
                                    <p> 4 hours ago </p>
                                    </a>
                                  </li>
                                </ul>
                              </div>
                </li>
              
            </ul>

                      
 
        </div>
    </div>
</nav>